[neopixel leds]
pin: PA8
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 22
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
initial_RED: 0.156
initial_GREEN: 0.078
initial_BLUE: 0.039

# [led_effect rainbow]
# autostart:              true
# frame_rate:             24
# leds:
#     neopixel:leds
# layers:
#      gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# [led_effect set_all_leds]
# leds:
#     neopixel:leds
# autostart:                          false
# frame_rate:                         24
# layers:
#     static         0  0     top        (1.0,  1.0, 1.0)

# [gcode_macro set_led_anim_off]
# gcode:
#     SET_LED_EFFECT EFFECT=set_all_leds STOP=1

# [gcode_macro led_run_rainbow]
# gcode:
#     SET_LED_EFFECT EFFECT=rainbow

[neopixel toolhead]
pin: EBB:PD3
chain_count: 3
color_order: GRB
initial_RED: 1.0
initial_GREEN: 0.5
initial_BLUE: 1.0