[include steppers.cfg]
[include mainsail.cfg]
[include macroses/*.cfg]
[include probe.cfg]
[include klicky/klicky-probe.cfg]
[include others.cfg]
[include leds.cfg]

# [include adxl.cfg]
# [include K-ShakeTune/*.cfg]

[mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_34FFFFFF344E313338651757-if00
serial: /dev/ttyS5
restart_method: command

# [mcu host]
# serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 7000 # 
max_z_velocity: 5
max_z_accel: 100

[input_shaper]
shaper_freq_x: 65.4
shaper_type_x: mzv #  <= 12500, (vibrations = 0.8%, smoothing ~= 0.048)
shaper_freq_y: 54.4
shaper_type_y: 3hump_ei # <= 2100, (vibrations = 4.6%, smoothing ~= 0.274)


[firmware_retraction]
retract_length: 0.6
retract_speed: 25
unretract_extra_length: 0.1
unretract_speed: 50


[idle_timeout]
gcode:
   TURN_OFF_HEATERS
   M84             ; disable steppers
timeout: 18000      ;5 hours


[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC3
min_temp: -70
max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PC6
max_power: 1 
shutdown_speed: 0
heater: extruder
heater_temp: 50.0
fan_speed: 0.7

[fan]
pin: PC7
kick_start_time: 0.500
off_below: 0.15


[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80

[temperature_sensor orange_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 90

[filament_motion_sensor smart_sensor]
switch_pin: PC12
detection_length: 20 #35
extruder: extruder
pause_on_runout: True
#runout_gcode:
#insert_gcode:
#event_delay: 3.0
#pause_delay: 0.5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 39.826
#*# pid_ki = 3.124
#*# pid_kd = 126.945
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.622
#*# pid_ki = 2.180
#*# pid_kd = 572.038
#*#
#*# [probe]
#*# z_offset = 7.101
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.058367, -0.051269, -0.003944, 0.027606, 0.035494, 0.013409, -0.040226
#*# 	0.006310, -0.004732, 0.009465, 0.029973, 0.030761, 0.030761, 0.003944
#*# 	0.034705, 0.015775, 0.000789, 0.014198, 0.017353, 0.082819, 0.018141
#*# 	0.028395, 0.025240, 0.003944, 0.004733, 0.008676, 0.026818, 0.002366
#*# 	-0.002366, 0.007099, -0.023662, -0.016564, -0.008676, 0.003944, -0.018141
#*# 	-0.044170, -0.035494, -0.048114, -0.030761, -0.021296, -0.006310, -0.038649
#*# 	-0.133299, -0.095439, -0.089917, -0.050480, -0.029184, -0.022874, -0.067044
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 214.96
#*# min_y = 35.0
#*# max_y = 224.96
