# BIGTREETECH SKR mini MZ v1.0. 
# STM32F103 with a "28KiB bootloader", communication: Serial (USART2 PA3/PA2). 
# Clock reference: 8MHz crystal
# Also, select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

[include steppers.cfg]
[include mainsail.cfg]
[include macroses/*.cfg]
[include probe.cfg]
[include klicky/klicky-probe.cfg]
[include others.cfg]
[include leds.cfg]

# [include adxl.cfg]

[mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_34FFFFFF344E313338651757-if00
serial: /dev/ttyS5
restart_method: command

# [mcu host]
# serial: /tmp/klipper_host_mcu

# [mcu EBB]
# canbus_uuid: fb55ad09b0b1

# [temperature_sensor EBB]
# sensor_type: temperature_mcu
# sensor_mcu: EBB
# min_temp: 0
# max_temp: 100

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 7000 # 
max_z_velocity: 5
max_z_accel: 100

[input_shaper]
shaper_freq_x: 54.8
shaper_type_x: mzv #  <= 8800, (vibrations = 0.9%, smoothing ~= 0.07)
shaper_freq_y: 45.0
shaper_type_y: ei # <= 3800, (vibrations = 0.9%, smoothing ~= 0.16)


[firmware_retraction]
retract_length: 0.6
retract_speed: 35
unretract_extra_length: 0 # 0.1
unretract_speed: 50


[idle_timeout]
gcode:
   TURN_OFF_HEATERS
   M84             ; disable steppers
timeout: 18000      ;5 hours


[heater_bed]
heater_pin: PB4 #PC9
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PB0 #PC3
min_temp: 0 #-70
max_temp: 130


[extruder]
step_pin:  PD5 #PB3
dir_pin: !PD6 # PB4 # for dirict drive
enable_pin: !PD4 #!PD2
# step_pin: EBB: PD0
# dir_pin: EBB: PD1
# enable_pin: !EBB: PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637

nozzle_diameter: 0.600
# nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin:  PB15 #PC8 # EBB: PB13
# max_power: 0.85
sensor_type: ATC Semitec 104NT-4-R025H42G #EPCOS 100K B57560G104F # Generic 3950
sensor_pin:  PC0 # PA0 # EBB: PA3 
min_temp: 0
max_temp: 300
min_extrude_temp: 170
max_extrude_only_distance: 200.0
max_extrude_only_velocity: 120
pressure_advance: 0.019
# max_extrude_cross_section: 50.0
# pressure_advance: 0.041

[heater_fan hotend_fan]
pin: PA13 #PC6 #EBB: PA1
max_power: 1 
shutdown_speed: 0
heater: extruder
heater_temp: 62.0
fan_speed: 0.5 #1

[fan]
pin: PA14 #PC7 #EBB: PA0
kick_start_time: 0.500
off_below: 0.15


# [controller_fan steppers]
# pin: PC7
# fan_speed: 0.6


[controller_fan board]
pin: PB2
# max_power: 0.5 # 12v
fan_speed: 0.6
# # fan_speed: 0.8

# [temperature_sensor mcu_temp]
# sensor_type: temperature_mcu
# # min_temp: 0
# # max_temp: 80

[temperature_sensor orange_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 90

[filament_motion_sensor smart_sensor]
switch_pin: PA3
detection_length: 20 #35
extruder: extruder
pause_on_runout: True
#runout_gcode:
#insert_gcode:
#event_delay: 3.0
#pause_delay: 0.5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 45.864
#*# pid_ki = 19.110
#*# pid_kd = 27.518
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.622
#*# pid_ki = 2.180
#*# pid_kd = 572.038
#*#
#*# [probe]
#*# z_offset = 20.180
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.031250, 0.197500, 0.262917, 0.266667, 0.243750, 0.196667, 0.149167, 0.115833, 0.052917
#*# 	0.025000, 0.103750, 0.128333, 0.137500, 0.117500, 0.094167, 0.069583, 0.093333, 0.145833
#*# 	0.039583, 0.043750, 0.037500, 0.037083, 0.025417, 0.034167, 0.044167, 0.088333, 0.167083
#*# 	0.068333, 0.027500, 0.015833, 0.027917, -0.028333, -0.020417, -0.000833, 0.084583, 0.155000
#*# 	0.088333, 0.029583, 0.021250, -0.036250, -0.039167, -0.035000, -0.007500, 0.060833, 0.142917
#*# 	0.100417, 0.051667, 0.000833, -0.021667, -0.001250, 0.012500, -0.002917, 0.039167, 0.142500
#*# 	0.095417, 0.048750, 0.058750, 0.035000, 0.030417, 0.033750, 0.035833, 0.049583, 0.110000
#*# 	0.072917, 0.063750, 0.049167, 0.077083, 0.085833, 0.081250, 0.096250, 0.096250, 0.058750
#*# 	0.003750, 0.046250, 0.102917, 0.147500, 0.185833, 0.196667, 0.199167, 0.173333, 0.072500
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 214.96
#*# min_y = 10.0
#*# max_y = 220.0
#*#
#*# [bed_mesh pei]
#*# version = 1
#*# points =
#*# 	-0.173525, -0.152229, -0.127777, -0.112002, -0.098594, -0.119101, -0.161694
#*# 	-0.119101, -0.112002, -0.099382, -0.098594, -0.091495, -0.106481, -0.162482
#*# 	-0.111214, -0.085185, -0.085185, -0.087551, -0.100171, -0.097016, -0.153017
#*# 	-0.085185, -0.022874, -0.006310, -0.024451, -0.011831, -0.083607, -0.130144
#*# 	-0.063889, -0.014986, -0.007887, -0.011042, -0.018141, -0.074931, -0.123834
#*# 	-0.075720, -0.041804, -0.023662, -0.022085, -0.031550, -0.054424, -0.109636
#*# 	-0.138031, -0.082030, -0.059156, -0.045747, -0.051269, -0.065466, -0.112002
#*# min_x = 10.0
#*# max_x = 214.95999999999998
#*# min_y = 10.0
#*# max_y = 220.0
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
